@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 20px;
}

body {
  background-color: #eee;
}

.card {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 10rem auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 4px 6px 6px 2px rgb(214, 214, 214), -4px 6px 6px 2px rgb(214, 214, 214);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.lists {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.lists li {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

input {
  border: none;
  outline: none;
}

input[type="text"]:focus {
  outline: none;
}

.addData {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

button {
  border: none;
  background-color: #fff;
}

.rowData {
  display: flex;
  gap: 10px;
}

.completed {
  text-decoration: 2px line-through red;
}

.clear-btn {
  padding: 20px 0;
}

.clear-btn:hover {
  color: red;
}

.fa-trash {
  color: gray;
}

.fa-trash:hover {
  color: red;
}

.fa-level-down-alt::before,
.fa-turn-down::before {
  content: "\f3be";
  color: greenyellow;
}

.fa-rotate::before,
.fa-sync-alt::before {
  content: "\f2f1";
  color: cornflowerblue;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 15px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10rem auto;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 4px 6px 6px 2px rgb(214, 214, 214), -4px 6px 6px 2px rgb(214, 214, 214);
  }
}
